* {
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    font-size: 48px;
    color: brown;
  }
  
  .row {
    display:flex
    flex-wrap: wrap;     
  }
  
  .titlebox {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 16px;
  }
  
  .titlebox1 {
    background-color: rgb(255, 60, 0);
    color: black;
  }
  
  .titlebox2 {
    background-color: blue;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .titlebox3 {
    background-color:orange;
    color: blanchedalmond;
    display:block;
  }
  
  .text_box {
    margin-top: 62px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  
  .col {
    float: left;
    background-color: blanchedalmond;
    border: 2px solid black;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Desktop View */
  @media (min-width: 992px) {
    .col_1 {
      width: 32%;
      margin-left: 0.66%;
      margin-right: 0.66%;
    }
  } 
  
  /* Tablet View */
  @media (max-width: 991px) and (min-width: 786px) {
    .col_2 {
      width: 49%;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }  
  
  /* Mobile View */
  @media (max-width: 767px) {
    .col_3 {
      width: 100%;
    }
  }  